html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  cursor: default;
  padding: 0;
  border: 0;
  margin: 0;

  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

body, canvas, div {
  background: rgb(68, 50, 92);
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

#GameDiv {
    margin: 0 auto;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
    background: transparent;
    width: 100vw;
    height: calc(9 / 16 * 100vw);
}

@media (min-aspect-ratio: 16/9) {
  #GameDiv {
    width: calc(16 / 9 * 100vh);
    height: 100vh;
  }
}

#Cocos3dGameContainer, #GameCanvas {
  width: 100%;
  height: 100%;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}